.Search {
  text-align: center;
  display: flex;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
  background: #f0131e;
  color: white;
  

}

.nav-Links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  
  

}

.Header{
  background-color:
}

.Home{
  background-color: #2b3784;
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

.Footer{



}
