.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
  background: blue;
  color: white;
  

}

.nav-Links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  
  

}

.Header{
  background-color: black;
}

.Home{
  background-color: aqua;
  text-align: center;
  
}

